@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/*
font-family: "Open Sans", sans-serif;
  font-family: "Montserrat", sans-serif;
*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin: 25px;
}
header img{
  width: 20vh;
}
.navbar{
  display: flex;
  gap: 20px;
}
.navbar a{
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

footer{
  position: relative;
  bottom:0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 20px;
  background-color: rgb(241, 241, 241);
}
footer img{
  width: 40%;
}
footer h1{
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width: 575px){
  header{
    flex-direction: column;
  }
  footer img{
    width: 60%;
  }
  footer h1{
    font-size: 15px;
  }
}