
header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 25px;
}
header img{
    width: 20vh;
}
.navbar{
    display: flex;
    gap: 20px;
}
.navbar a{
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.hero img{
    width: 100%;
    clip-path:  polygon(0 10%, 100% 0, 100% 85%, 0 100%);
    opacity: 0.7;
     
}
.hero h1{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
}