
.hero{
    width: 100%;
}
.hero img{
    width: 100%;
    clip-path: polygon(0 10%, 100% 0, 100% 85%, 0 100%);
     
}
.hero h1{
    position: fixed;
    top: 30%;
    left: 27%;
    text-align: center;
    font-family: "Sofia", cursive;
    font-size: 30px;
    color: white;
}