main{
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 10px 30px;
}
.filtro{
    border: 1px solid rgb(216, 216, 216);
    border-radius: 10px;
}
.filtro header{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.filtro-box{
    padding: 10px;
    border: 1px solid rgb(216, 216, 216);
    border-right-style:hidden;
    border-left-style: hidden;
}
.filtro-box h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin: 0 0 5px 0;
}
.filtro-checkbox{
    margin: 0 0 5px 0;
}
.filtro-checkbox label{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
.praias{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-praia{

    display: flex;
    flex-direction: row;
    align-items:flex-start;
    margin-bottom:10px;
    margin-right: 30px;
    width: 80%;
    padding: 8px;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 10px;
}
.info h1{
    font-family:"Montserrat", sans-serif;
    margin-right:5px ;

}
.icon{
    width:275px ;
    height:270px ;
    border-radius: 10px;
    margin-right: 10px;
}
.info p{
    word-break: normal;
    font-family:"Open Sans", sans-serif;
    margin-top: 4px;
}
.info li{
    list-style: none;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family:"Open Sans", sans-serif ;
    
}
.info li img{
    width: 20px;
    height: 20px;
}
button{
    padding: 6px 20px;
    background-color: rgb(69, 69, 255);
    border: 0;
    border-radius: 15px;
    font-size: 16px;
    margin-top:40px;
    color: whitesmoke;
    font-family:"Montserrat", sans-serif;
}
button:hover{
    transition: 0.5s;
    background-color: chartreuse;
    color: black;
    cursor: pointer;
    
}