#participantes{
    margin: 60px 20px;
}
#participantes header{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
}
.participantes-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin: 40px 10px;
    gap: 50px;
}
.participante{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}
.participante h1{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.participante a{
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: black;
}
#projeto{
    margin-top: 30px;
    padding: 20px 20px;
    background-color: rgb(252, 252, 252);

}
#projeto header{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
}

#projeto h2{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
}
#projeto div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}
#projeto div img{
    width: 100%;
    border-radius: 10px;
}
a img{
    width: 20px;
}

.img-p{
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

@media screen and (max-width: 991px){
    #projeto div{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        justify-items: center;
    }
    #projeto div img{
        width: 80%;
        border-radius: 10px;
    }
}

@media screen and (max-width: 767px){
    .participantes-container{
        gap: 0px;
    }
    .participante a{
        align-items: center;
    }
}
@media screen and (max-width: 575px){
    .img-p{
        width: 80%;
        height: 80%;
    }
}